<ul class="list-unstyled">
  <li *ngFor="let product of products"
      class="clearfix product"
      (click)="selectProduct(product)">

    <div class="col-md-3">
      <img class="img-responsive img-rounded"
           src="https://placeholdit.imgix.net/~text?txtsize=33&txt=150%C3%97150&w=150&h=150"
           alt="product image">
    </div>

    <div class="col-md-6">
      <h4>{{ product.name }}</h4>
      <p *ngIf="product.description" class="description">{{ product.description }}</p>
    </div>

    <div class="col-md-3 text-right">
      <button class="btn btn-danger" role="button" (click)="removeProduct(product.id)">Remove</button>
    </div>

  </li>
</ul>
