<div class="container products">

  <div class="actions">

    <button class="btn btn-success" (click)="addProduct()">Add</button>

  </div>

  <div class="col-md-6">

    <app-products-list [products]="products"
                       (select)="onSelectProduct($event)"
                       (remove)="onRemoveProduct($event)">
    </app-products-list>

  </div>

  <div class="col-md-6">

    <app-product-details *ngIf="selectedProduct"
                         [model]="selectedProduct"
                         (submit)="onSubmitProduct($event)">
    </app-product-details>

  </div>

</div>
