<div class="products">

  <div class="row">
    <div class="form-group col-md-1">
      <button class="btn btn-success" (click)="onAddProductsBtnClick()">Add</button>
    </div>

    <div class="form-group col-md-2">
      <input type="search" class="form-control" placeholder="Search product">
    </div>

    <div class="form-group col-md-3 text-right">
      <label for="sort">Sort by</label>
      <select id="sort" class="col-md form-control sort-control" [(ngModel)]="sortOrder" (change)="onSortOrderChange()">
        <option value="name">Name</option>
        <option value="date">Creation Date</option>
      </select>
    </div>

    <div class="col-md-6 col-md-offset-6"></div>
  </div>

  <div class="row">
    <div class="col-md-6">

      <app-products-list [products]="products"
                         (select)="onSelectProduct($event)"
                         (remove)="onRemoveProduct($event)">
      </app-products-list>

    </div>

    <div class="col-md-6">

      <app-product-details *ngIf="selectedProduct"
                           [model]="selectedProduct"
                           (submit)="onSubmitProduct($event)">
      </app-product-details>

    </div>
  </div>

</div>
